@{
    ViewData["Title"] = "NhtProfile ";
}
<h1>NhtProfile</h1>
<hr />
<div class="alert alert-danger">
    <p>msv:2310900105</p>
    <p>ho va ten : nguyen huu tuyen</p>
    <p>lop:k23cnt1-net</p>
    <p>email:huutuyen123tc@gmail.com</p>
    <p>bietdanh :@ViewBag.about</p>
    <p>sdt:0941033632</p>
</div>
