
@{
    ViewData["Title"] = "thong tin snh vien";
}
<div class="alert alert-info">
    <h1>thong tin snh vien </h1>
    <hr/>
    <p>ma sinh vien : 2310900105</p>
    <p>ho va ten : nguyen huu tuyen</p>
    <p>so dien thoai : 0941033632</p>
    <p>email : huutuyen123tc@gmail.com</p>
    <p>lop : k23cnt1</p>
</div>





